@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('/nooademiserifdemo/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Neuton', serif;
}

/* h2,
h2 > * ,
h1,
h1 > * {
  font-family: 'Nooa Semiserif', serif;
} */



/* @import url('./fonts/mazzard-web-font/stylesheet.css');

@import url('./fonts/Bossa-web-font/stylesheet.css'); */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Mazzard H', sans-serif;
}

.page-title {
    color: var(--tertiary-color);
    font-family: 'Bossa', sans-serif;
} */

