.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: -50px;
  width: 120%;
  height: 100%;
  background: url("/assets/about-bg.jpg") no-repeat center / cover;
}
.reviews {
  background: url('/assets/review-bg.jpg') no-repeat center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  z-index: 10;
}
.reviewGap {
  background: #FFFFFF;
  clip-path: polygon(0 0, 30% 0, 100% 100%, 70% 100%);
  z-index: 15;
}
.faqcheck:checked ~ .faqanswer {
  max-height: fit-content;
    margin-top: 20px;
}
.faqcheck:checked ~ .faqhead {
  color: #000000;
}
.faqcheck:checked ~ .faqhead .close {
  display: none;
}
.faqcheck:checked ~ .faqhead .open {
  display: inline-block;
}

@media (min-width: 768px) {  
  .case1::before {
    content: "";
    background: #2F1D18;
    position: absolute;
    top: -40px;
    left: -40%;
    width: 120%;
    height: 100%;
    z-index: -1;
  }
  .case2::before {
    content: "";
    background: #2F1D18;
    position: absolute;
    top: 40px;
    left: 40%;
    width: 120%;
    height: 100%;
    z-index: -1;
  }
}
