


.hero::after {
    content: "";
    background-image: url('/assets/service-hero.jpg');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
    /* clip-path: polygon(65% 0, 100% 0, 100% 100%, 33% 100%); */
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 71% 100%);
}
